main > section:nth-child(1) form{
    display: flex;
    flex-direction: column;
    background-color: cyan;
    width: 300px;
    border: 1px dashed lightblue;
    padding: 15px;
}
main > section:nth-child(1) label:nth-child(n+3){
    margin: 5px 0;
}


main > section:nth-child(1) form input[type=submit]{
    background-color: black;
    color: white;
    width: 30%;
    margin: 0 auto;
}

main > section:nth-child(1) input{
    margin-bottom: 10px; 
}
.basse{
    color: green;
}

.haute{
    color: red;    
}

@keyframes wink{
from{
        opacity: 1;
    }
    to{
        opacity: 0.1;
    }
}

section+section span {
    opacity: 0;
    transition: opacity 2s;
}	
section div ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}	
section+section div input {
    margin: 0 10px;
}
section+section form label{
    display: flex;
    list-style-type: none;
    margin-bottom: 10px;
}

section+section form label:hover span{
    opacity: 1;
    transition: opacity 2s;
}

section+section form label:hover span+span{
    opacity:1
    text-decoration: underline;
    transition: opacity 2s, text-decoration 4s;
}

section+section li{
    font-weight: bold;
}

em{
    margin: 0 10px;
}

form > div {
    display: flex;
}