<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Gestionnaire de tache</title>
        <link rel="stylesheet" href="styles.css">
    </head>


    <body>
        <main>
	<section>
            <form action="add.php" method="post">
                <label for="title">Titre :</label>
                <input type="text" name="title" required/>

                <label for="description">Description :</label>
                <input type="text" name="description" required/>

                <label for="date">Date limite :</label>
                <input type="date" name="date" required/>
                <div>
                    <label for="priority">Priorite :</label>
                    <input type="radio" name="priority" value='basse' required/> basse
                    <input type="radio" name="priority" value='normale' /> normale
                    <input type="radio" name="priority" value='haute' /> haute
                </div>
                <input type="submit"/>
            </form>
    	</section>
    <section>
	<?php 
		$today = date("d-m-Y");				
		$today = new Datetime($today);
		$i = 0;
	?>
	<h4><?php if(empty($stock)): ?>
	<?= "Aucune taches visible dans la base de donnee" ?>
	<?php else: ?>
	<?php echo "Affichage des taches"; endif; ?>

	
	</h4>
	<div>
	<?php if(!empty($stock)): ?>
	<form method='POST' action='remove.php'>
		<ul>
			<?php foreach($stock as $key => $value): ?>
			    <?php $ligne = $value; ?>
			    <?= "<label for='lol'><input type='checkbox' name='index[]' value=$key><li class=$ligne[3]>$ligne[0]</li>"?>
			    <?php $dateListe = new Datetime($ligne[2]); ?>
			    <?php $comparaison = date_diff($today, $dateListe)->format('%R'); ?>
			    <em>
			    <?php if ($today == $dateListe): ?>
			    <?= "A l'heure" ?>
			    <?php else: ?>
			    <?php switch($comparaison):
			    case '-': ?>
			    <?= "En retard" ?>
			    <?php break; ?>
			    <?php case '+': ?>
			    <?= "En avance" ?>
			    <?php break; ?>
			    <?php default: ?>
			    <?php break; ?>
			    <?php endswitch; ?>
			    <?php endif ?></em>
			    
			    <?= "<span>Description -</span><span>- $ligne[1], Date : $ligne[2]</span></label>" ?>
			<?php endforeach; ?>
		</ul>
		<input type='submit' value='Supprimer'>
	</form>
	<?php endif ?>

	</div>
    </section>

        </main>
    </body>
</html>
